<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experiment with JQuery and AJAX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <button><a href="/axios">Axios POST Request</a></button>
    <form>
      <p id="title">An AJAX/Jquery Form</p>
      <textarea name="text"></textarea>
      <button type="submit"></button>
    </form>
    <p id="message">You haven't submitted the form yet.</p>
    <script>
      $(document).ready(function () {
        $("form").on("submit", function (e) {
          e.preventDefault();
          $("form").append("<h1>Waiting...<h1>");

          const data = $(this).serialize();

          $.post("/", data, function (result, status) {
            $("h1").text("");
            $("#message").text(`Res send is working with HTML.`);
            $("#message").append(result);
          });
        });
      });
    </script>
  </body>
</html>
